@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@theme {
  --color-primary: #E14F27;
  --color-secondary: #EBE9DB;

  /* Custom Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  /* Custom Breakpoints */
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}

@media (min-width: 1536px) {
  html {
    font-size: 20px; 
  }
}

@media (max-width: 767px) {
  html {
    font-size: 10px; 
  }
}



:root {
  --background: #FBFBF8;
  --foreground: #D2451E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "Salford Sans";
  src: url("./fonts/Lewis_McGuffie_Type-Salford_Sans_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salford Sans";
  src: url("./fonts/Lewis_McGuffie_Type-Salford_Sans_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salford Sans";
  src: url("./fonts/Lewis_McGuffie_Type-Salford_Sans_SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salford Sans";
  src: url("./fonts/Lewis_McGuffie_Type-Salford_Sans_Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("./fonts/RocGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("./fonts/RocGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}

body,
* {
  box-sizing: border-box;
  overflow-x: hidden;
}


.backface-hidden {
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  /* iOS */
  -webkit-perspective: 0;
  visibility: visible;
  backface-visibility: hidden;
}

.will-change-transform {
  will-change: transform;
}

.footer {
  display: none !important;
}
